@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/



h2 {
  margin-top: 0.75rem;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

h3 {
  margin-top: 0.625rem;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.25;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

h4 {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}


.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
  h2 {
    font-size: 1.875rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1rem;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.btn {
  @apply rounded-full border py-1.5 px-5 text-white transition-all  text-sm font-inter flex items-center justify-center;
}

.btn.black {
  @apply border-black bg-black hover:bg-white hover:text-black text-center;
}

.btn.blue {
  @apply border-blue-700 bg-blue-700 hover:bg-white hover:text-black text-center;
}

.btn.green {
  @apply border-green-700 bg-green-700;
}

.btn.blue.active {
  @apply bg-white text-black text-center;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
  width: 64rem;
  @apply grid grid-cols-3 py-8 gap-6 max-[1165px]:grid-cols-2 max-[1165px]:max-w-2xl max-[816px]:grid-cols-1 max-[816px]:max-w-xs2 max-[400px]:w-full;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
  @apply font-satoshi font-semibold text-lg text-blue-800 tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end z-10;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
}

/* WordCard Component */
.prompt_card {
  @apply relative overflow-hidden break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding pb-4 backdrop-blur-lg backdrop-filter w-full h-fit;
}

.prompt_card__image {
  @apply absolute left-0 top-0 h-52 w-full object-cover
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.dict {
  @apply cursor-pointer py-5 px-10 rounded-full duration-300;
}

.dict:hover {
  @apply bg-gray-200;
}

.task {
  @apply rounded-lg bg-black text-white bg-clip-padding p-4 w-full aspect-square flex flex-col justify-center gap-20 cursor-pointer transition-all duration-300;
}
.task.repeat {
  @apply bg-gradient-to-br from-pink-600 to-purple-500;
}
.task.repeat:hover {
  @apply bg-gradient-to-br from-purple-400 to-pink-500 text-black;
}
.task.half {
  @apply bg-gradient-to-br from-orange-500 to-yellow-500;
}
.task.half:hover {
  @apply bg-gradient-to-br from-yellow-400 to-orange-400 text-black;
}
.task.almost {
  @apply bg-gradient-to-br from-green-400 to-green-500;
}
.task.almost:hover {
  @apply bg-gradient-to-br from-green-400 to-green-300 text-black;
}
.task.new {
  @apply bg-gradient-to-br from-blue-600 to-cyan-600;
}
.task.new:hover {
  @apply bg-gradient-to-br from-cyan-500 to-blue-500 text-black;
}
.task__top {
  @apply flex justify-center;
}
.task__bottom {
  @apply flex justify-center items-center gap-10;
}
.task__title {
  @apply text-3xl;
}
.task__text {
  @apply text-2xl;
}
.mob {
  display: none;
  @apply border rounded-full border-black;
}

@media (max-width: 900px) {
  .desk {
    display: none;
  }
  .mob {
    display: flex;
  }
}